img
{
  height: 330px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
/* .product
{
  border: 1px solid red;
} */
 .product .price
 {
   position: absolute;
   top: 0;
   right:0px;
 }
 .spanCat
 {
  position: absolute;
  top: 0;
  left: 0;
   background-color: #778da9;
   line-height: 1.5;

 }
 .firstRow
 {
   border-top: 1px solid black;
 }
 .product a
 {
   text-decoration: none;
 }
 h6{
   color: #415a77;
 }
 .mainContainer
 {
   background-color: #e0e1dd;
 }
 button
 {
   background-color: #415a77;
   border: none;
   transition: all 0.5s;
   -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
   -ms-transition: all 0.5s;
   -o-transition: all 0.5s;
 }
 button:hover
{
  background-color: white;
  color:#415a77;
  font-weight: 500;
}


