<div class="mainContainer">
  <section class="container py-5">

    <input [(ngModel)]='term' class="form-control w-50 m-auto" type="search" placeholder="search here..">
       <!-- <h2>{{term}}</h2>  test 2way binding-->
</section>


<section class="container mt-4 aa">
  <h2 class="text-center font-italic mb-3">Welcome to Our store.</h2>
  <div class="row">
    <div class="col-md-3 py-5 ">
      <div class="firstRow w-25"></div>
      <h3 class="my-3">popular products Right Now.</h3>
      <p class="text-center">Lorem ipsum dolor sit, amet consectetur .</p>
      <div class="firstRow "></div>
    </div>
    <!---bdl ma a3ml http connection gded l id ha5od l index-->
    <div class="col-md-3 my-4 brdPro " *ngFor= "let product of allPrdoucts|search:term ; let i = index">
       <div class="product position-relative p-1">
         <a [routerLink]='["/details" , i]' >
             <img src="{{product.image}}" class="w-100" >
             <h6 class="text-center my-2">{{product.title|uppercase}}</h6>
             <span class="badge badge-warning p-2 price text-white" >{{product.price |currency:'L.E'}}</span>
             <span class="text-muted " >{{product.description |seemore :70}}</span>
             <span class="badge spanCat p-2 text-white ml-1" >{{product.category}}</span>  <br>
            </a>
            <a (click)="getData(product)" class="btn btn-primary mt-2 ml-5 card" >add to card</a>
            <!-- <a class="btn btn-danger m-auto ">
              <i class="fas fa-minus mr-2 "></i>
               <i class="fas fa-plus"></i>
              </a> -->


       </div>
    </div>
  </div>

</section>

</div>
